*{
    margin: 0;
  }

  body{
    background-color: rgba(32,32,36,1);
  }
  .container{
    background-color: rgba(32,32,36,1);
  }

  .column{
    background-color: rgba(32,32,36,1);
  }

  .kanbanCon{
    background-color: rgba(32,32,36,1);
  }
  #todo{
    background-color: rgba(32,32,36,1);
  }
  

.headContainer{
    display: flex;
    height: 11vh;
    align-items: center;
    background-color: rgba(32,32,36,1);
    border-bottom: 0.2px solid grey;
}

img{
    height: 6.5rem;
    z-index: 1;
}


h1{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    z-index: 1;
    color: grey;
}






@media (max-width: 768px) {
    .headContainer {
       justify-content: center;
 }
}

.formContainer{
  background-color: rgba(32,32,36,1);
}


.form-row{
    display: flex;
    justify-content: center;
}





#addInput{
    margin-top: 40px;
    width: 35vw;
    height: 30px;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 1);
    /* Other styles */
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color:  rgba(32,32,36,1);
}





.button{
    width: 90px;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: url("./assets/pen.svg"),auto;
    background: white;
    font-size: 0.8em;
    font-weight: 550;
    font-family: "Roboto Slab";
  }

  #addButton{
    margin-top: 45px;
    margin-left: 20px;
  }
  
  #addButton:hover {
    background: #ffdb58;
    color: white;
    font-size: 0.9em;
  }

  
  #deleteButton{
    font-size: 0.7rem;
    width: 65px;
    height: 25px;
   

  }

  #deleteButton:hover {
    background: 	#bb2124;
    color: white;
    font-size: 0.8em;
  }
  
  .add-icon{
    margin-left: 2.5vw;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
  }


  li{
    list-style: none;
    display: flex;
    margin-left: 40px;
    width:auto;
  }

  .singleInput{
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #fef68a;
  }






  label[for="singleInput"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }

    .list{
     margin-top: 30px;
    }

    textarea{
      border: none;
      font-size: 1rem;
      font-family: "Roboto Slab";
      color: white;
      overflow-y: hidden;
      resize: none;
      max-width: 10vw;
      
    }

    textarea:hover{
      resize: none;
    }

  


    .note{
      opacity: 1;
      color: white;
      margin: 7px;
      border:0.1px solid grey;
      border-radius: 10px;
      padding: 1rem;
      min-height: 15vh;
      width: 20vw;
      min-width:300px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: space-between;


    }

    #textPan{
      opacity: 1;
      background-color: rgba(32,32,36,1) ;
      transform: translateY(-3px);
    }

    textarea{
      background-color:  rgba(32,32,36,1);
    }



    .note-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
   
    }

    .delete-icon:hover{
         transform: scale(1.2);
         cursor: pointer;
    }

    .noteContainer{
      margin-top: 40px;
      height: 70vh; /* Set a fixed height for the container */
  overflow: hidden; /* Hide the overflow content */
}

.no{
  break-inside: avoid;
}

    
    
    .titleInput{
      font-size: 1.5rem; /* Adjust the font size as needed */;
      color: white;
      min-width: 20%;
      max-width: 19vw;
      margin-bottom: 0;
      
    }

    #todoAdd{
      margin: 0;
      border: none;
    }
    


      
    .column{
      margin: 0;
      border: 0;
    
    }

    .container{
      margin: 0;
      border: 0;
    }
    
  .kanbanCon{
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    background-color: rgba(32,32,36,1);
  }


 .clear{
  transform: translateY(-4px); 
  margin-left: 30px;
  opacity: 0.3;
 }


 
 .clear:hover{
 opacity: 0.7;
 cursor: pointer;
 }




*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


/* Hide default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Style the label to create a custom checkbox appearance */
.checkbox-label {
  display: inline-block;
  width: 18.5px;
  height: 18.5px;
  position: relative;
  color: rgba(32, 32, 36, 1);
  border: 1px solid white; /* Add border for better visibility */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-align: center; /* Center align the tick mark */
  
}

/* Style the tick mark */
.checkbox-label span {
  font-size: 15px; /* Adjust size of the tick mark */
  transform: translateY(-5px);
}

/* Change background color when checkbox is checked */
input[type="checkbox"]:checked + .checkbox-label {
  background-color: rgba(32, 32, 36, 1);
  color: white; /* Change color of the checkbox background when checked */
}
