*{
    margin: 0;
   
  }


.headContainer{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: #ffdb58;
}

img{
    height: 5rem;
    z-index: 1;
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    z-index: 1;
}


.lineGrid{
    height: 10vh;
    position: absolute;  
}

.lineGrid > hr{
        border: 1px solid black;
        border-style: dashed;
        width: 100vw;
        margin-bottom: 2.6vh;
        z-index: 2;
      }

      .lineGrid > hr:first-child {
       margin-top: 3px;
    }

    .lineGrid >.lineGrid > hr:nth-child(2) {
        margin-bottom: 3px;
     }

    .lineGrid > hr:nth-child(3) {
        margin-top: 32px;
     }

@media (max-width: 768px) {
    .headContainer {
       justify-content: center;
 }
}



.form-row{
    display: flex;
    justify-content: center;
}



#addInput{
    margin-top: 40px;
    width: 30vw;
    height: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Other styles */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    
}





.button{
    width: 90px;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: url("./assets/pen.svg"),auto;
    background: white;
    font-size: 0.8em;
    font-weight: 550;
    font-family: "Roboto Slab";
  }

  #addButton{
    margin-top: 45px;
    margin-left: 20px;
  }
  
  #addButton:hover {
    background: #ffdb58;
    color: white;
    font-size: 0.9em;
  }

  
  #deleteButton{
    font-size: 0.7rem;
    width: 65px;
    height: 25px;
    transform: translateY(-10px);

  }

  #deleteButton:hover {
    background: 	#bb2124;
    color: white;
    font-size: 0.8em;
  }
  
  .add-icon{
    margin-left: 3.32vw;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: url("./assets/pen.svg"),auto;
  }


  li{
    list-style: none;
    display: flex;
    margin-left: 40px;
    width:auto;
  }

  .singleInput{
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #fef68a;
  }

  textarea{
    background-color: #fef68a;
    transform: translateY(20px);
  }


  input[type="checkbox"]{
      width: 30px; 
      height: 30px;
      position: relative;
      
  }

  label[for="singleInput"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }

    .list{
     margin-top: 30px;
    }

    textarea{
      border: none;
      font-size: 1rem;
      font-family: "Roboto Slab";
      overflow-y: hidden;
      resize: none;
      max-width: 10vw;
      
    }

    textarea:hover{
      resize: none;
    }


    .note{
      background-color: #fef68a;
      margin: 7px;
      border-radius:10px;
      padding: 1rem;
      min-height: 20vh;
      width: 23vw;
      min-width:300px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }



    .note-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
   
    }

    .delete-icon:hover{
         transform: scale(1.2);
         cursor: url("./assets/pen.svg"),auto;
    }

    .noteContainer{
      margin-top: 40px;
      width: 100%;
      height: 100%;
      columns: 3;
  
    }

    ul{
      margin: 0;
      width: 100%; 
    }
    li{
      display: inline-block
    }
    .titleInput{
      font-size: 1.5rem; /* Adjust the font size as needed */
      font-weight: bold; /* Make the text bold */
      color: #333;
      min-width: 20%;
      max-width: 19vw;
      margin-bottom: 0;
      
    }

    #todoAdd{
      margin: 0;
      border: none;
    }
    


      @media (max-width: 1000px) {
        .noteContainer {
           columns: 1;
     }
    }
      
    